.home-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80vh;

  @media only screen and (max-width: 1024px) {
    height: auto;
  }
}

.content-container {
  display: flex;
  flex-grow: 1;
  width: 100%;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  transition: width 0.3s ease-in-out;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.left-panel.expanded {
  width: 100%;
}

.right-panel {
  display: block;
  color: black;
  background-color: white;
  padding: 0 20px;
  width: 25%;
  max-height: 70vh;
  overflow-y: auto;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.period-slider {
  width: 80%;
  margin: 10px auto;
  display: block;
}

.in-period-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;

  @media only screen and (max-width: 1024px) {
    margin: 10px 0;
  }
}

.dino-list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow: auto;
}

.dino-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 90px;
}

.dino-icon-container {
  margin-right: 20px;
  width: 90px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dino-icon {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
