.home-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 93vh;
}

.content-container {
  display: flex;
  flex-grow: 1;
  width: 100%;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66.67%;
  transition: width 0.3s ease-in-out;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.left-panel.expanded {
  width: 100%;
}

.right-panel {
  display: block;
  background-color: #28a745;
  color: white;
  padding: 20px;
  width: 33.33%;
  max-height: 70vh;
  overflow-y: auto;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.period-slider {
  width: 80%;
  margin: 10px auto;
  display: block;
}

.globe-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: 1024px) {
    height: 45vh;
  }
}

.flag-label {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.dino-list {
  list-style: none;
  padding: 0;
}

.dino-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dino-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
