.home-card--hero {
  .card-img-top {
    max-height: 50vh;
    object-fit: cover;
    width: 100%;
  }
}

.home-card--regular {
  .card-img-top {
    max-height: 180px;
    object-fit: cover;
    width: 100%;
  }
}

.home-btn {
  align-self: center;
  width: 150px;
}
