.home-card--hero {
  .card-img-top {
    max-height: 50vh;
    object-fit: cover;
    width: 100%;
  }
}

.home-card--regular {
  .card-img-top {
    max-height: 180px;
    object-fit: cover;
    width: 100%;
  }
}

.home-btn {
  align-self: center;
  width: 150px;
}

.dino-week {
  max-height: 250px;
  padding: 30px 30px 5px 30px;
  object-fit: contain;
  width: calc(100% - 30px);
  margin: 0 auto;
}
