.custom-toggler {
  border: none;
  background: none;
  outline: none;
}

.custom-toggler:focus {
  box-shadow: none;
}

.custom-toggler {
  border: none!important;
  background: none!important;
  outline: none!important;
  box-shadow: none!important;

  &:hover,
  &:focus,
  &:active {
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    background: transparent!important;
  }
}

.navbar-logo {
  max-width: 30px;
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-height: 200px;
  gap: 1rem;
}

.dino-image-option {
  max-height: 180px;
  object-fit: contain;
  border-radius: 8px;
}
