@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootswatch/dist/zephyr/bootstrap.min.css";

@import "./styles/theme.scss";

@import "./styles/home.scss";
@import "./styles/navbar.scss";
@import "./styles/quiz.scss";
@import "./styles/discover.scss";
@import "./styles/globe.scss";
@import "./styles/atoz.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.dynamic-margin-top {
  margin-top: 3rem !important;
  @media only screen and (max-width: 600px) {
    margin-top: 2rem !important;
  }
}
